# Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com) All Rights Reserved.
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

# Project information
site_name: WSO2 Ballerina Integrator Documentation
site_description: Documentation for WSO2 Ballerina Integrator
site_author: WSO2
# site_url: https://ballerina-integrator.docs.wso2.com/en/latest/

# Repository information
repo_name: wso2/docs-ballerina-integrator
repo_url: https://github.com/wso2/docs-ballerina-integrator
edit_uri: https://github.com/wso2/docs-ballerina-integrator/edit/main/en/docs/
dev_addr: localhost:8000

# Copyright
copyright: WSO2 Ballerina Integrator - Documentation

# Configuration
theme:
  name: material
  custom_dir: theme/material
  logo: images/logo.svg
  favicon: images/favicon.png
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
    - content.action.edit
    - content.action.view
  #highlightjs: true
  feature:
    tabs: true
  language: 'en'
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to dark mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to system preference

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Strict Mode
strict: false # Set to true to break the build if there are warnings

# Navigation structure
nav:
  - Home: index.md
  - Get Started:
      - Introduction: get-started/introduction.md
      - Key Concepts: get-started/key-concepts.md
      - Quick Start Guide: get-started/quick-start-guide.md

# Markdown extensions configuration
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      linenums: true
      use_pygments: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - markdown_include.include:
      base_path: docs
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.snippets:
      base_path: docs
  - pymdownx.tabbed:
        alternate_style: true
  - attr_list

# Plugins configuration
plugins:
  - search
  - markdownextradata: {}
  - exclude:
      glob:
        - wip/*
  - redirects:
      redirect_maps:

# Extra configuration
extra_css:
  # You can select a different theme for syntax highlighting by simply
  # selecting a different css file below from the available list.
  - assets/lib/highlightjs/styles/vs.min.css
  # Make sure to activate only one palette at a time.
  # If all the palettes are commented out, the default material theme palette will take over
  - assets/css/blue-palette-alt1.css
  # - assets/css/blue-palette-alt2.css
  # - assets/css/blue-palette.css
  # - assets/css/green-palette.css
  # - assets/css/orange-palette.css
  - assets/css/mitheme.css
  - assets/lib/json-formatter/json-formatter.css
  - assets/css/config-catalog.css
  - assets/lib/fontawesome-free-6.3.0-web/css/all.min.css
  - assets/css/redoc.css
extra_javascript:
  - assets/lib/highlightjs/highlight.min.js
  - assets/lib/json-formatter/json-formatter.umd.js
  - assets/js/mitheme.js
  # - assets/lib/backtotop/js/util.js
  # - assets/lib/backtotop/js/main.js
extra:
  social:
    - type: github
      link: https://github.com/wso2
    - type: twitter
      link: https://twitter.com/wso2
    - type: linkedin
      link: https://www.linkedin.com/company/wso2
  # site_version: Uncomment to specify a version
  base_path: http://localhost:8000/
  #base_path: https://ballerina-integrator.docs.wso2.com/en/main
